<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/><br/>{{ title }}</h1>
            <p>
                <span class="screen">
                    <time datetime={ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time><br>
                    <a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download as PDF</a> - 

                    <a href="./fr/index.html">
                        French Version
                        <img src="fr.svg" width='16'>
                    </a>
                </span>
                <span class="print">Online version: <a href="{{ baseUrl }}" class="text-nowrap"><i class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
       <div class="col-md-6 col-print-6">
            <dl class="row" style="white-space: pre;">
                {{#each facts}}
                <!-- <dt class="col-4 col-md-5 text-md-right text-print-right font-weight-normal">{{@key}}:</dt> -->
                <dd class="col-9 col-md-11 text-left">{{@key}}:   {{{this}}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>
    <p>
        Hi! 
        I'm a curious tinkerer fond of high-tech, software and computer science.<br/>
        Making things (on the software side) and taking other things apart (hardware) is my n°1 hobby... and on the side I'm into music, self-hosting, and occasionally sports (skiing, sailing, cycling, foosball...).
    </p>

    <h2> Programming Langages & Tech</h2>
    <p>
        (ordered by decreasing proficiency)
    </p>

                <!-- small devicess -->
    <div class="row mb-3 d-sm-none flex" style="white-space:pre;justify-content:space-around;">
        {{#each languages}}
                {{#ifbetween @index 0 3}}
                <div class="col-1 flex" style="text-align:center;display:flex;justify-content:center"> {{@key}} </div>
                {{/ifbetween}}
        {{/each}}
    </div>
    <div class="row mb-5 d-sm-none" style="display:flex; justify-content:space-around;">
            {{#each languages}}
                {{#ifbetween @index 0 3}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
                {{/ifbetween}}
            {{/each}}
    </div> 
     <div class="row mb-3 d-sm-none flex" style="white-space:pre;justify-content:space-around;">
        {{#each languages}}
                {{#ifbetween @index 4 7}}
                <div class="col-1 flex" style="text-align:center;display:flex;justify-content:center"> {{@key}} </div>
                {{/ifbetween}}
        {{/each}}
    </div>
    <div class="row mb-5 d-sm-none" style="display:flex; justify-content:space-around;">
            {{#each languages}}
                {{#ifbetween @index 4 7}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
                {{/ifbetween}}
            {{/each}}
    </div> 



                <!-- medium-big devices -->
    <div class="row mb-3 d-none d-sm-block d-sm-flex" style="white-space:pre;justify-content:space-around;">
        {{#each languages}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center"> {{@key}} </div>
        {{/each}}
    </div>
    <div class="row mb-5 d-none d-sm-block d-sm-flex" style="display:flex; justify-content:space-around;">
            {{#each languages}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
            {{/each}}
    </div> 




    <p>
        (and other tech I'm confortable with at a professionnal level, unordered)
    </p>

               <!-- small devicess -->
    <div class="row mb-3 d-sm-none flex" style="white-space:pre;justify-content:space-around;">
        {{#each technology}}
                {{#ifbetween @index 0 3}}
                <div class="col-1 flex" style="text-align:center;display:flex;justify-content:center"> {{@key}} </div>
                {{/ifbetween}}
        {{/each}}
    </div>
    <div class="row mb-5 d-sm-none" style="display:flex; justify-content:space-around;">
            {{#each technology}}
                {{#ifbetween @index 0 3}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
                {{/ifbetween}}
            {{/each}}
    </div> 
     <div class="row mb-3 d-sm-none flex" style="white-space:pre;justify-content:space-around;">
        {{#each technology}}
                {{#ifbetween @index 4 7}}
                <div class="col-1 flex" style="text-align:center;display:flex;justify-content:center"> {{@key}} </div>
                {{/ifbetween}}
        {{/each}}
    </div>
    <div class="row mb-5 d-sm-none" style="display:flex; justify-content:space-around;">
            {{#each technology}}
                {{#ifbetween @index 4 7}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
                {{/ifbetween}}
            {{/each}}
    </div> 



                <!-- medium-big devices -->
    <div class="row mb-3 d-none d-sm-block d-sm-flex" style="white-space:pre;justify-content:space-around;">
        {{#each technology}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center"> {{@key}}</div>
        {{/each}}
    </div>
    <div class="row mb-5 d-none d-sm-block d-sm-flex" style="justify-content:space-around;">
            {{#each technology}}
                <div class="col-1" style="text-align:center;display:flex;justify-content:center">{{{ this }}}</div>
            {{/each}}
    </div> 





 
   

    <h2>Professional Experience</h2>
    {{#each experience}}
    <div class="card mb-4 bg-light">
        <div class="card-body">
            <h3>{{ title }}</h3>
            <p0 class="row" style="white-space:  pre;">
                <p class="text-muted">     <a style="text-decoration:none! !important;color:inherit;" href="{{link}}">{{ place }} - {{ date }}</a>  </p>

            </p0>
            {{{ contents }}}
            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <h2>Education</h2>
            <p>2021 - <b>Engineering Diploma</b> -  <a style="text-decoration:underline !important;color:inherit" href="https://ensimag.grenoble-inp.fr/" alt="Ensimag Grenoble-INP" target="_blank">Ensimag Grenoble-INP</a><br> (computer science and applied mathematics major)</p>
            <p>2019 - <b>Bachelor degree</b> - <a style="text-decoration:underline !important;color:inherit" href="https://ensimag.grenoble-inp.fr/" alt="Ensimag" target="_blank">Ensimag Grenoble-INP</a></p>

            <p>Additionally, I'm a French native, fluent English speaker (full-score TOEIC), and know the tiniest bit of Spanish.</p>
    <h2>Projects</h2>

    {{#each projects}}
    <div class="card mt-4 bg-light">
        <div class="card-body">
            <div class="mb-2"><strong><h3>{{{ header }}}</h3></strong></div>

            {{{ contents }}}

            <div>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
</body>
</html>
