<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}. {{ title }}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container page">
    <div class="row">
        <div class="col-md-6 col-print-6">
            <h1>{{ name }}<br/><br/>{{ title }}</h1>
            <p>
                <time datetime="{{ buildinfo.date }}" class="text-muted">Last update: {{ updated }}</time>
            </p>
            <p>
                <span class="screen"><a href="{{ pdfFileName }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF version</a></span>
                <span class="print">The online version is available at <a href="{{ baseUrl }}" class="text-nowrap"><i
                    class="fa fa-github" aria-hidden="true"></i>{{ baseUrl }}</a></span>
            </p>
        </div>
       <div class="col-md-6 col-print-6">
            <dl class="row" style="white-space: pre;">
                {{#each facts}}
                <!-- <dt class="col-4 col-md-5 text-md-right text-print-right font-weight-normal">{{@key}}:</dt> -->
                <dd class="col-9 col-md-11 text-left">{{@key}}:   {{{this}}}</dd>
                {{/each}}
            </dl>
        </div>
    </div>
    <p>
        Hi!<br/>
        I'm a curious tinkerer fond of high-tech, software and computer science.<br/>
        Making things (on the software side) and taking other things apart (hardware) is my n°1 hobby, and on the side I'm into music, cat videos, and RC planes or sailing depending on the weather.
    </p>

    <h2> Programming Langages & Tech</h2>
    <p>
        (ordered by decreasing proficiency)
    </p>

    <div class="row mx-auto" style="white-space: pre;">
        {{#each languages}}
        <div class="col-print-1 col-1 col-md-1 col-lg-1 text-center">{{ @key }}</div>
        {{/each}}
    </div>
    <div class="row mx-auto mb-3">
            {{#each languages}}
            <div class="col-print-1 col-1 col-md-1 col-lg-1 text-center">{{{ this }}}</div>
            {{/each}}
    </div>
    <p>
        (and other tech I'm confortable with, unordered)
    </p>
    <div class="row mx-auto mb-3">
            {{#each technology}}
            <div class="col-print-1 col-1 col-md-1 mb-3 col-lg-1 text-center">{{{ this }}}</div>
            {{/each}}
    </div>




           



    <h2>Professional Experience</h2>
    {{#each experience}}
    <div class="card mb-4" style="display:inline-block;">
        <div class="card-body">
            <h3>{{ title }}</h3>
                    <p class="text-muted">{{ place }} - {{ date }}</p>

            {{{markdown contents }}}

            <div>
                {{#each badges }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}

    <h2>Education</h2>
            <p>2021 - <b>Engineering Diploma</b> -  <a href="https://ensimag.grenoble-inp.fr/" alt="Ensimag Grenoble-INP" target="_blank">Ensimag Grenoble-INP</a></p>
            <p>2015 - <b>High School Degree (with honors)</b> - Lycée Jules Ferry Cannes</p>

    <h2>Projects</h2>

    {{#each projects}}
    <div class="card mt-4">
        <div class="card-body">
            <div class="mb-2"><strong>{{ header }}</strong></div>

            {{{markdown contents }}}

            <div>
                {{#each skills }}
                <span class="badge badge-primary">{{ this }}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
</body>
</html>
